*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #757171;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer_box {
    height: 455px;
    width: 760px;
    display: grid;
    grid-template-columns: 538px 207px;
    grid-template-rows: 140px 295px;
    row-gap: 20px;
    column-gap: 15px;
}

.top_inner_flexbox {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #91A1DB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.left_inner_flexbox {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #95FDC5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes animated_grid {
    0% {
        grid-template-columns: 83px 93px 301px;
        grid-template-rows: 220px 28px;
    }
    25% {
        grid-template-columns: 123px, 185px 169px;
        grid-template-rows: 122px 126px;
    }
    50% {
        grid-template-columns: 216px 195px 66px;
        grid-template-rows: 203px 45px;
    }
    75% {
        grid-template-columns: 103px 213px 161px;
        grid-template-rows: 105px 143px;
    }
    100% {
        grid-template-columns: 310px 113px 54px;
        grid-template-rows: 102px 146px;
    }
}

.bottom_inner_grid {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #DDB4B4;
    display: grid;
    /* grid-template-columns: 159.33px 159.33px 159.33px;
    grid-template-rows: 124.5px 124.5px; */
    column-gap: 15.33px;
    row-gap: 15.5px;
    /*padding: 15px;*/
    padding: 15.33px 15.5px;
    animation: animated_grid 5s linear infinite alternate;
}

.flex_item {
    background-color: #D9D9D9;
    transition: background-color 0.3s linear;;
}

.left_inner_flexbox .flex_item {
    width: 177px;
    height: 131.67px;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: height 0.6s;
}

.left_inner_flexbox .flex_item:hover {
    height: 250px;
    transition: height 0.6s, background-color 0.3s linear;
    background-color: #C897EE;
}

.top_inner_flexbox .flex_item:hover {
    width: 250px;
    transition: width 0.6s, background-color 0.3s linear;
    /* -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear; */
    background-color:khaki;
}

.top_inner_flexbox .flex_item {
    width: 159.33px;
    height: 110px;
    flex-shrink: 1;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: auto;
    transition: width 0.6s;
}

@keyframes animated_bg_1 {
    0% {
        background-color: burlywood;
    }
    25% {
        background-color: cadetblue;
    }
    75% {
        background-color:aquamarine;
    }
    100% {
        background-color:darkseagreen;
    }
}

@keyframes animated_bg_2 {
    0% {
        background-color:cornflowerblue;
    }
    25% {
        background-color:crimson;
    }
    75% {
        background-color:coral;
    }
    100% {
        background-color:darkorange;
    }
}

.grid_item_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    animation: animated_bg_1 7s linear infinite alternate;
}

.grid_item_2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    animation: animated_bg_2 5s linear infinite alternate-reverse;
}

.grid_item_3 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    animation: animated_bg_1 4s linear 1s infinite alternate;
}

.grid_item_4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    animation: animated_bg_2 6s linear infinite alternate;
}

.grid_item_5 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    animation: animated_bg_1 5s linear infinite alternate-reverse;
}

.grid_item_6 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    animation: animated_bg_2 4s linear infinite alternate-reverse;
}

.bottom_inner_grid div {
    background-color: #D9D9D9;
}